{% extends 'todo/index.html' %}
{% block addtask %}
<h1 class="text-center">Add your tasks here</h1>
<form  action="" method="post">
{% csrf_token %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">--></button>
                     {% comment %} useless_button {% endcomment %}
                </span>
                <input type="text"  id="task" name="task" class="form-control" /> 
                <button type="submit" class="btn btn-outline-primary">Add</button>
                
            </div><!-- /input-group -->
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</form>

{% endblock addtask %}